body{
    background-color: rgb(161, 238, 176);
}

table{
    width: 10%;
}
#end{
    color: blue;
    background-color: white;
    
}

#head1{
    background-color: black;
    width: 10%;
}

h1{
    color: darkmagenta;
}